@media screen and (max-width: 480px) {
    .caixa, .produtos{
        width: auto;
        text-align: center;
    }

    nav {
        position: static;
    }

    .produtos li{
        display: inline-table;
        margin: 20px;
    }
}