body {
    font-family: 'Montserrat', sans-serif;
}

.fonte-nova {
    font-family: 'Montagu Slab', serif;
}

header {
    background: #BBBBBB;
    padding: 20px 0;
}

.contato-meio {
    width: 940px;
    margin: 0 auto;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:active {
    border-color: #088C19;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 20px;
}

.produto-preco {
    font-size: 23px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.mensagem-rodape {
    color: #ffffff;
    font-size: 13px;
    margin-top: 20px;
}

form {
    margin: 40px 0;
}

form label, form legend, .horario-atendimento {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 20%;
    padding: 15px 0;
    background: orange;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.1);
}

.texto-tabela {
    display: inline;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}

table {
    margin: 15px 0 10px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 15px 8px;
}
/*css da página inicial (finalmente  primeiro comentário)*/
.banner {
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.titulo-principal:before {
    content: "[ ";
}

.titulo-principal:after {
    content: " ]";
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: calc(20% - ((26px * 4) /4));
    /* ou (20% - (96px / 4)) */
    float: left;
    margin: 0 20px 20px 0;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.beneficios {
    color: #ffffff;
    padding: 3em 0;
    background: #888888;
    /*box-shadow: inset 0 0 30px #c0a21c;*/
}

.conteudo-beneficios {
    width: 660px;
    margin: 0 auto;
}

.itens {
    line-height: 2.7;
}

/* firts-child para primeiro elemento*/
.itens:nth-child(1) {
    font-weight: bold;
}

.itens:before {
    content: "✨";
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.imagem-beneficios {
    width: 60%;
    opacity: 0.85;
    transition: 1.8s;
    /*box-shadow: 10px 10px 30px 20px #bd14a6, ... */
    box-shadow: 10px 10px 10px 5px #bd14a6, -10px -10px 10px 5px yellow, -20px 20px 10px 5px rgba(23, 181, 209, 0.5);
}

.imagem-beneficios:hover {
    opacity: 1; 
}

.video {
    width: 560px;
    margin: 2em auto;
    opacity: 0.7;
}

/* 
Seletores Avançados:

main > p {
    background: red;
}

img + p {
    background: blue;
}

img ~ p {
    background: yellow;
}

.principal p:not(#missao) {
    background: orange;
}
*/

@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }
    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .lista-beneficios, .imagem-beneficios {
        width: 100%;
    }
}



